<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-I_TwojSwL8DcvNJq8cmzPa2Ywhqf3gM</string>
	<key>GCM_SENDER_ID</key>
	<string>113628527943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homechefV3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>homemaker-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>homemaker-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113628527943:ios:9a80d8c8b05036db67a062</string>
</dict>
</plist>